body {
    font-family: 'Arima', cursive;
    margin: 0;

}

h1 {
    font-size: 55px;
}

span {
    color: orange;
}

h3 {
    font-size: 25px;
}

.tex {
    font-family: cursive;
    font-size: 19px;
    text-align: justify;
}

.flexible {
    display: flex;
    margin-bottom: 150px;

}

.half-width {
    width: 50%;
    padding: 0% 5%;
}

.half-width img {
    width: 80%;
}

.hareME {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

.top-banner {
    background-image: url(./img/top-banner.png);
    background-repeat: no-repeat;
}

.drem {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experieencs-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    
}
.full-stac {
    font-size: 40px;
}



.experieenc-item {
    box-shadow: 11px 3px 38px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 18px;
    border-radius: 26px;
    
    
}
#full-stack-web{
    border-left: 7px solid tomato;
}
#baby-web-developer{
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
    font-size: 20px;
    background-color: darkgray;
    margin: 0px;
    padding: 0px;
    
}